body {
    background-color: #FDC38A;
    color: #461F1F;
}

.homeimage {
    background-image: url(../images/coffee.png);
    height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top; 
    rotate: 180deg;
}

nav {
    background-color: #461F1F;
    overflow: hidden;
}

nav a {
    float: left;
    color: #D9661F;
    text-align: center;
    padding: 0px 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 40px;
    font-family: fantasy;
    height: 60px;
 }

 .navimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 60px;
    margin-bottom: 0;
 }

 nav a:hover {
    background-color: none;
    color: #ddd;
 }

 .active {
    background-color: none;
    color: white;
 }

 .active:hover {
    background-color: none;
    color: #FDC38A;
 }

 .welcometxt {
    color: #D9661F;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
 }

 .marker {
    color: #D9661F;
    font-size: 20px;
    margin-left: 10px;
 }

 .box {
    color: #D9661F;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -5px;
 }

 .headertxt {
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
    margin-left: 50px;
 }

 .categories {
    list-style-type: none;
    background-color: none;
    overflow: hidden;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
 }

 ul li{
  display: inline;
  text-decoration: none;
}

.menu_btn_one {
    border: 1px solid #461F1F;
    background-color: #FDC38A;
    color: #461F1F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 200px;
    cursor: pointer;
    width: 330px;
}

.menu_btn_one:hover {
    background-color: #D9661F;
    color: #ddd;
}

hr {
    height: 2px;
    width: 1700px;
    border-width: 0;
    color: #461F1F;
    background-color: #461F1F;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menuitems {
   display: inline;
   margin-left: 50px;
}

footer {
   color: #ddd;
   background-color: #461F1F;
   height: 200px;
   align-content: center;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
}

.inlineitems {
   display: inline;
}

.container {
  display: inline-grid;
  grid-template-areas:
    "header header"
    "menu content"
    "price price";
  grid-template-columns: 350px 200px;
  gap: 5px;
  background-color: #461F1F;
  color: #D9661F;
  text-shadow: 3px 2px #1f0b0b;
  font-size: larger;
  padding: 5px;
  margin-left: none;
}
.container > div {
  background-color: #461F1F;
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.menu {
  grid-area: menu;
  width: 535px;
  background-color: #FDC38A;
}
.container > div.price {
  grid-area: price;
}

.foodimg1 {
   width: 400px;
   margin-left: 50px;
}

.foodimg2 {
   width: 318px;
   margin-left: 125px;
}

.add_to_cart_btn {
    background-color: #D9661F;
    color: #461F1F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

.add_to_cart_btn:hover {
   color: #ddd;
}

h4 {
   display: inline;
   margin-left: 20px;
   margin-right: 255px;
}

.shoppingdiv {
   background-color: #461F1F;
   margin-bottom: 100px;
   color: #D9661F;
   font-size: 30px;
   margin-left: 50px;
   padding-top: 20px;
}

.shoppingdiv h2 {
   margin-left: 30px;
}

.cartSummary {
   color: #ddd;
   font-size: 40px;
   font-weight: bold;
   text-align: left;
   margin-left: 100px;
}

.placeText {
   margin-top: 15px;
   margin-left: 55px;
   font-size: 25px;
   font-weight: bold;
}

.cart-container {
   display: block;
   width: 1000px;
	color: #ddd;
	position: relative;
    z-index: 999;
}

.cart-container p {
   margin-left: 50px;
}

.cart-container li {
   display: block;
}

.remove-btn {
   background-color: #D9661F;
    color: #ddd;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
}

.remove-btn:hover {
   color: #461F1F;
}

.clear-cart {
   background-color: #D9661F;
    color: #ddd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    margin-left: 7%;
}

.clear-cart:hover {
   color: #461F1F;
}

