<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CofeeRight</title>
</head>

<nav>
    <a href="home.html"><img class="navimg" src="images/CoffeeRight Logo.png" alt="logo"></a>
    <a href="home.html">Menu</a>
    <a href="about.html" class="active">About Us</a>
    <a href="cart.html">Shopping Cart</a>
</nav>

<div class="homeimage">
</div>

<body>
    <div class="welcometxt">About Us!</div>

    <ul class="marker">
        <li class="box">||||||||||||||||||||||||||||||||</li>
        <li>An Introduction</li>
    </ul>

    <div class="headertxt">Who We Are</div>
    <div class="placeText">Placeholder text for the CoffeeRight company to enter information about their company and past.</div>

    <hr>

    <ul class="marker">
        <li class="box">||||||||||||||||||||||||||||||||</li>
        <li>CoffeeRight's Goal</li>
    </ul>

    <div class="headertxt">Our Mission</div>
    <div class="placeText">Placeholder text for the CoffeeRight company to enter information about their mission and goals as a company.</div>

    <br><br><br>


    <footer>
        <h3>Contact Us:</h3>
        <p><i>Email: CoffeeRight@example.com</i></p>
        <p><b>555-555-5555</b></p>
    </footer>
</body>
</html>