{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CoffeeRight</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}"><img class="navimg" src="{% static 'images/CoffeeRight Logo.png' %}" alt="logo"></a>
        <a href="{% url 'home' %}">Menu</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'cart' %}">Shopping Cart</a>
    </nav>

<div class="homeimage">
</div>


    <div class="welcometxt">Food</div>

    <ul class="marker">
        <li class="box">||||||||||||||||||||||||||||||||</li>
        <li>Categories</li>
    </ul>

    <div class="headertxt">Browse by Category</div>

    <ul class="categories">
        <li><button class="menu_btn_one" onclick="location.href='{% url 'hot_drinks' %}'">Hot Drinks</button></li>
        <li><button class="menu_btn_one" onclick="location.href='{% url 'cold_drinks' %}'">Cold Drinks</button></li>
        <li><button class="menu_btn_one" onclick="location.href='{% url 'food' %}'">Food</button></li>
    </ul>

    <hr>

    <ul class="marker">
        <li class="box">||||||||||||||||||||||||||||||||</li>
        <li>Foods</li>
    </ul>

    <div class="headertxt">Fresh Food:</div>

    <div class="menuitems">
    <div class="inlineitems"><div class="container">
        <div class="header"><h2>Bacon Egg & Cheese Bagel</h2></div>
        <div class="menu"><img src="{% static 'images/becbagel.png' %}" alt="Bacon Egg & Cheese Bagel" class="foodimg1"></div>
        <div class="price"><h4>Price: $7.99</h4><button class="add_to_cart_btn">Add Item</button></div>
    </div>
    <div class="container">
        <div class="header"><h2>Coffee Cake</h2></div>
        <div class="menu"><img src="{% static 'images/coffeeCake.png' %}" alt="Coffee Cake" class="foodimg1"></div>
        <div class="price"><h4>Price: $5.99</h4><button class="add_to_cart_btn">Add Item</button></div>
    </div>
    <div class="container">
        <div class="header"><h2>Chocolate Cupcake</h2></div>
        <div class="menu"><img src="{% static 'images/chocolateCupcake.png' %}" alt="Chocolate Cupcake" class="foodimg1"></div>
        <div class="price"><h4>Price: $7.99</h4><button class="add_to_cart_btn">Add Item</button></div>
    </div></div>
    </div><br><br>


    <footer>
        <h3>Contact Us:</h3>
        <p><i>Email: CoffeeRight@example.com</i></p>
        <p><b>555-555-5555</b></p>
    </footer>
</body>
</html>