<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CofeeRight</title>
</head>

<nav>
    <a href home.html><img class="navimg" src="images/CoffeeRight Logo.png" alt="logo"></a>
    <a href menu.html class="active">Menu</a>
    <a href about.html>About Us</a>
    <a href cart.html>Shopping Cart</a>
</nav>

<div class="homeimage">
</div>

<body>
    <div class="welcometxt">Welcome!</div>

    <ul class="marker">
        <li class="box">||||||||||||||||||||||||||||||||</li>
        <li>Categories</li>
    </ul>

    <div class="headertxt">Browse by Category</div>

    <ul class="categories">
        <li><button class="menu_btn_one" href hot_drinks.html>Hot Drinks</button></li>
        <li><button class="menu_btn_one" href cold_drinks.html>Cold Drinks</button></li>
        <li><button class="menu_btn_one" href food.html>Food</button></li>
        <li><button class="menu_btn_one" href see_all.html>See All</button></li>
    </ul>

    <hr>

    <ul class="marker">
        <li class="box">||||||||||||||||||||||||||||||||</li>
        <li>This Month</li>
    </ul>

    <div>
        <h2>Top Selling Products</h2>
        <h3>Cold Foam Latte</h3>
        <h3>Hot Mocha Latte</h3>
        <h3>Bacon Egg & Cheese Bagel</h3>
    </div>
    <footer>
        <h3>Contact Us:</h3>
        <p><i>Email: CoffeeRight@example.com</i></p>
        <p><b>555-555-5555</b></p>
    </footer>
</body>
</html>